body {
    color: #ffffff;
    background-color: #010409;
}

main {
    display: flex;
}

.content {
    background-color: #0d1117;
    border-radius: 20px;
    padding: 30px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.skills li {
    color: #2f81f7;
    background-color: #388bfd1a;
    border-radius: 50px;
    font-size: 12px;
    margin: 0px 1.5px 4px 0px;
    padding: 0px 10px;
}

.avatar {
    margin: 0 10%;
    border-radius: 50%;
}

@media (min-width: 1000px) {
    body {
        margin: 100px;
    }

    .content {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    header {
        text-align: center;
    }

    main {
        flex-direction: column-reverse;
    }
}
