body {
    color: #ffffff;
    background-color: #010409;
}

.content {
    background-color: #0d1117;
    border-radius: 20px;
    padding: 30px;
}

.skill {
    color: #000000;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
}

.avatar {
    margin: 10%;
    border-radius: 50%;
}

@media (min-width: 1000px) {
    body {
        margin: 100px;
    }

    main {
        display: flex;
    }

    .content {
        width: 70%;
    }
}
